<form action="/usernew" method="POST">
  <div class="name">
    <label>User name:</label>
    <input name="user_name">
  </div>
  <div class="email">
    <label>Email:</label>
    <input name="user_email">
  </div>
  <div class="password">
  	<label>Password:</label>
  	<input name="user_password">  	
  </div>
  <div class="password">
  	<label>Retype password:</label>
  	<input name="user_password_confirmation">
  <input id = "save_btn" type="submit" value="SAVE">
</form>